@model ErrorViewModel
@{
    ViewData["Title"] = @Resources.Titles.Error;
}

<h1 class="text-danger">@Resources.Exceptions.errorHappened</h1>
<h2 class="text-danger">@Resources.Exceptions.errorHappenedDuringRequest</h2>

<p>
    @ViewBag.Error<br />
    @TempData["Error"]
</p>
<p>
    @Resources.Exceptions.beAttentive
</p>


