<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">@Resources.Titles.Competitions</span>
                <span class="icon-bar">@Resources.TableHeads.View</span>
                <span class="icon-bar">@Resources.Buttons.Create</span>
            </button>
            <a class="navbar-brand"><img src="/images/logo.png" style="height: 60px; margin-top: -20px;" /></a>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@Resources.Titles.Competitions</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-controller="Team" asp-action="Index">@Resources.Titles.Teams</a></li>
                <li><a asp-area="" asp-controller="Sportsmen" asp-action="Index">@Resources.Titles.Sportsmen</a></li>
                <li><a asp-area="" asp-controller="Fst" asp-action="Index">@Resources.Titles.FST</a></li>
                <li><a asp-area="" asp-controller="Coach" asp-action="Index">@Resources.Titles.Coaches</a></li>
                <li><a asp-area="" asp-controller="City" asp-action="Index">@Resources.Titles.Cities</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">@Resources.Titles.Reports</a></li>
            </ul>
        </div>
    </div>
</nav>