@{
    ViewData["Title"] = "Home Page";
}
@model IList<CompetitionViewModel>

<div class="row">
    <div class="col-md-12">
        <h2>@Resources.Titles.Competitions</h2>
        <table class="table table-hover">
            <tr>
                <td>@Resources.TableHeads.Competitions</td>
                <td>@Resources.TableHeads.View</td>
                <td>@Resources.TableHeads.Update</td>
                <td>@Resources.TableHeads.Delete</td>
            </tr>
            @foreach (var competition in Model)
            {
                <tr>
                    <td>@competition.Name</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</div>


