@using msac_competition.DAL.Entities
@model CoachEditViewModel
@{
    ViewData["Title"] = @Resources.Titles.UpdateCoach;
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form asp-action="Edit" asp-controller="Coach" asp-route-id="@Model.Id" asp-antiforgery="true" enctype="multipart/form-data">
                <div style="text-align: center">
                    @{
                        var source = !string.IsNullOrEmpty(Model.Avatar) ? $"/images/coaches/{Model.Avatar}" : "/images/noPhoto.jpg";
                        var alt = "/images/noPhoto.jpg";
                    }
                    <img src="@source" alt="@alt" style="height: 100px;" />
                </div>
                <div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">@Resources.TableHeads.Surname</label>
                        <input type="text" asp-for="Surname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">@Resources.TableHeads.Firstname</label>
                        <input type="text" asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Lastname" class="control-label">@Resources.TableHeads.Lastname</label>
                        <input type="text" asp-for="Lastname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SportRank" class="control-label">@Resources.TableHeads.Sportrank</label>
                        <select asp-for="SportRank" asp-items="Html.GetEnumSelectList<SportRank>()" class="form-control">
                            <option class="form-control" value="">-- Оберіть значення--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sex" class="control-label">@Resources.TableHeads.Sex</label>
                        <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()" class="form-control">
                            <option class="form-control" value="">-- Оберіть значення--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DaTeOfBirth" class="control-label">@Resources.TableHeads.Birthday</label>
                        <input type="date" asp-for="DaTeOfBirth" class="form-control" />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Team, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(x => Model.TeamId, new SelectList(Model.Teams, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = ""})
                    </div>
                    <div>
                        <label asp-for="Avatar" class="control-label">@Resources.TableHeads.Photo</label>
                        <input type="file" id="ava" name="ava" class="form-control" />
                    </div>
                    <input asp-for="Avatar" type="hidden" class="form-control" />

                    <hr />
                    <div style="text-align: center">
                            <div class="form-group">
                                <input type="submit" class="btn btn-info" value="@Resources.Buttons.Update" />
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    dl {
        margin-top: 25px;
    }
</style>

